/********************************************************************/
/* Global */
:root {
  --primary-color: #364f6b;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --light-blue: #3fc1c9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
}
li {
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}

/********************************************************************/
/* Navbar */
.navbar {
  opacity: 0.75;
  left: 0;
  top: 0;
  z-index: 2;
  height: 12vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}
.navbar h1 {
  position: relative;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, 0);
}
.navbar ul {
  margin-left: auto;
  display: flex;
  position: relative;
  right: 10%;
}
.navbar a:hover {
  opacity: 0.7;
}
.nav-dark {
  opacity: 0.96;
  background-color: white;
}
.nav-dark a {
  color: black;
}
/* @TODO: Make compatible for smaller screens */
@media screen and (max-width: 900px) {
  .navbar h1 {
    left: 10%;
    transform: translate(-10%, 0);
  }
}

/********************************************************************/
/* Landing Page */
.landing {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("./img/challenge.jpg") no-repeat center center/cover;
}
/* Dark overlay */
.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.452);
}
.landing-info {
  padding: 2rem 0;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: white;
  z-index: 2;
}
.landing-inner {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.landing-inner li {
  margin-bottom: 8px;
  border-bottom: 1px solid grey;
}
.landing-inner ul {
  padding-top: 5px;
  list-style: initial;
  font-weight: 700;
}
/********************************************************************/
/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}
.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.form-link {
  color: grey;
}
.form-link a {
  color: var(--primary-color);
  margin-left: 10px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.form input[type="submit"],
button {
  font: inherit;
}
/********************************************************************/
/* Groups */
.groups {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
}

.group {
  border: 2px solid #e7e7e7;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 3rem 0.5rem;
}
.group .btn {
  position: relative;
  background-color: var(--light-blue);
  top: 50px;
}

.saved {
  position: relative;
  bottom: 15px;
  color: #62c278;
  font-size: 1.5rem;
}
/* @TODO: Make compatible for smaller screens */
@media screen and (max-width: 900px) {
  .groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

/********************************************************************/
/* Challenges */
.challenges {
  display: flex;
  flex-direction: column;
}

.challenge {
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #000000;
  text-align: center;
  position: relative;
  padding: 3rem 0.5rem;
  margin-bottom: 2rem;
}
.challenge .btn {
  position: relative;
  background-color: var(--light-blue);
  top: 50px;
}

.saved {
  position: relative;
  bottom: 15px;
  color: #62c278;
  font-size: 1.5rem;
}
.user-count-div {
  position: relative;
  top: 0.8rem;
}
.user-count {
  margin-right: 0.3rem;
}

/********************************************************************/
/*Dashboard */
.dash-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

/********************************************************************/
/*Not found */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-img {
  width: 400px;
  height: 400px;
  background: url("./img/404.gif") no-repeat center center/cover;
}
/********************************************************************/
/*Utilitie */
/********************************************************************/
hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
  margin-bottom: 2rem;
}
/* Alerts */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: red;
  color: white;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
}

/* Buttons */
.btn {
  display: block;
  margin-bottom: 10px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 0.4rem 5rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  transition: opacity 0.15s ease-in;
  border-radius: 2px;
}
.btn:hover {
  opacity: 0.6;
}
.btn-blue {
  background: rgb(35, 37, 146);
}
.btn-lightblue {
  background: var(--light-blue);
}
.btn-light {
  background: #e9e9e9;
  color: grey;
}
.btn-rounded {
  border-radius: 5px;
}
.btn-danger {
  background: var(--danger-color);
}
input {
  transition: 0.2s ease-in;
}
input:focus {
  outline: none;
  box-shadow: 0 0 10px #719ece;
}
/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: black;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 3rem;
  padding: 0 10%;
}

/* Text Styles*/
.title {
  font-size: 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}
.text-grey {
  color: grey;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
